.login-card {
    width: 400px;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    h2{
        padding-bottom: 25px;
        color:#5b5b5b;
    }
}

.login-container {
    display: flex;
    justify-content: center;
    margin: 10vh;
}

.textbox {
    height: 20px;
    &[disabled] {
        opacity: .3;
      }
}

.loginButton{
    padding-left: 30px;
    &[disabled] {
        opacity: .3;
      }
} 

.legend-error {
    color:darkred;
    font-size: 16px;
}

