.panel-container {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: calc(70vh);
}
.info-pet-details {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .card-full-details {
    border-radius: 10px;
    width: 720px;
    flex-shrink: 0;
    height: auto;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;

    h2 {
        margin-bottom: 20px;
    }

    .general-full-details {
      width: 100%;
      padding: 0 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }

    .description-full-details {
      align-self: flex-start;
      width: 100%;
      text-align: left;
      padding: 0px 50px;
    }

    .item-detail {
      padding: 6px;
      font-size: 15px;
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-gap: 0 20px;
    }
    span {
      font-weight: 600;
    }

    p {
        padding: 0;
        margin: 0;
      }

  }

  .card-pet-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;

    .fa-heart {
      color: red;
      font-size: 35px;
    }

    .fa-comments {
      color: #5bc0de;
      font-size: 35px;
    }

    .btn-like {
      background-color: transparent;
      height: 36px;
      border-color: transparent;
      border-radius: 50%;
    }
    
    .btn-comment {
      background-color: transparent;
      color: white;
      height: 36px;
      border-color: transparent;
      border-radius: 50%;
    }
    
    .btn-adopt {
      background-color: #f78441;
      color: white;
      height: 36px;
      border-color: transparent;
      border-radius: 5px;
      padding: 3px 8px;
    }

    .status-legend {
      font-size: 13.5px;
      color:#787878;
    }
  }







.commets-container {
  display: flex;
  border: 1px solid #d4d4d4;
  padding-left: 15px;
  border-radius: 5px;
  width: 500px;
  margin: 20px 130px;
}
.commets-container input {
  height: 35px;
  width: 450px;
  border: transparent;
}
.commets-container .btn-comment {
  background-color: #f78441;
  color: white;
  height: 37px;
  border-color: transparent;
  padding: 3px 8px;
  border-radius: 0px 5px 5px 0px;
  width: 80px;
}

.comment-detail {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  text-align: left;
  margin: 30px 40px;
}
.comment-detail i {
  color: #d4d4d4;
}
.comment-detail .coment-text {
  margin-left: 20px;
  font-size: 15px;
  color:#515151;
}

.date {
  font-size: 13.5px;
  margin-bottom: 10px;
}


.fa-user {
  padding-top:10px;
}

.animal-icon {
  height: 35px;
  cursor: pointer;
}

.icon-container {
  input[type="radio"][id^="cb"] {
    display: none;
  }
}

.pet-image {
  width: 230px;
  height: 230px;
  border-radius: 50%;
}