@import '../../assets/scss/variables';

.applicants-panel {
    margin: 20px 60px;
    padding: 30px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #546464;

    .title {         
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 22px;
        font-weight: 600;
    }

    .pet-container {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .pet-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin-bottom: 15px;
        
        
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .pet-name {
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
        }

        p {
            display: flex;
            justify-content: space-between;
            span {
                margin: 0 5px;
            }
        }
    }

    @mixin table-template($color) {
        width: 100%;
        margin: 10px 0;
        display: grid;
        grid-template-columns: 0.5fr repeat(2,1fr) 2fr 2fr 1fr;
        color: $color;
    }

    .applicants-properties {
        @include table-template(#546464);
        text-transform: uppercase;
        font-size: 11.5px;
        font-weight: 900;
    }

    .applicant-details {
        @include table-template(#7b7b7b);
    }

    .subtitle {
        text-transform: uppercase;
        font-size: 13px;
    }
}

.adoption-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    @mixin btn-option($color) {
        background-color:$color;
        color: white;
        height: 36px;
        border-color: transparent;
        border-radius: 5px;
        margin: 0 5px;
        padding: 3px 8px;
        font-size: 13px;
        cursor: pointer;
    }

    .btn-cancel{
        @include btn-option(#b6b6b6)
    }
    .btn-adopted{
        @include btn-option($color1)
    }
    button:focus{
        outline: none;
    }
}